/* You should disable or delete this import */

$introductionText: "Hail and well met traveller -

Welcome to Fishbone, an all-you-can-eat SCSS framework, designed to let you hit the ground running for your next project.

Starting 

You can change the visual identity of the site quickly in _branding.scss, it contains the rules you need to get your app styled just right.
While your at it, you may want to take a look at text styling in _text.scss and fonts in _fonts.scss.
It's probably also a good idea to get acquainted to and familiar with _flow.scss, the file that controls the flow and sizing of content in your app.
Finally, it might be a good idea to just browse around the files in rules, like operations, which contains all the mixins and functions you might need.
When you feel comfortable to start, just go ahead and disable this introduction in _rules.scss.

Good luck out there!

Structure

Vips is built upon a four tiered hierarchy - rules, templates, pages, elements. Rules sit above everything, an abstract layer that governs the entire app. Templates are the broadest possible category, usable across multiple pages/views and able to contain many elements, even pages. Pages are more specific, these are larger wrappers for specific pages, that also may contain several blocks from elements. Finally, elements are the smallest node, and are rather more unique like site headers and the like.

Disclaimer 

Vips is Still in early Alpha, and as of such you should expect some rough edges.

Zip and questions, comments or complaints to @ikethepike



";

body::before {
  content: '><(({ Fishbone }))*>';
  @include heading();
  margin-top: 10vmin;
  display: block;
  text-align: center;
}

body::after {
  content: $introductionText;
  max-width: $reading-flow;
  width: 95%;
  white-space: pre-wrap;
  margin: 15vmin auto;
  display: block;
  border: $border;
  color: $color;
  animation: slideBlockTop 1s 1;
  padding: 2rem;
  animation: border-paint 3s 1;
  @include bodyText();
}
