/*
* Colors
* This file contains all the colors used in your app
*/

// Brand colors

// Color Palettes
// -- Trailhead colors
$ike-gray: #252525;
$smooth-gray: #231f20;
$fishbone-teal: #1c3c4c;

// - Flat UI colors
$turquoise: #1abc9c;
$emerland: #2ecc71;
$peter-river: #3498db;
$amethyst: #9b59b6;
$wetasphalt: #34495e;
$greensea: #16a085;
$nephritis: #27ae60;
$belizehole: #2980b9;
$wisteria: #8e44ad;
$midnight-blue: #2c3e50;
$sunflower: #f1c40f;
$carrot: #e67e22;
$alizarin: #e74c3c;
$clouds: #ecf0f1;
$concrete: #95a5a6;
$orange: #f39c12;
$pumpkin: #d35400;
$pomegranate: #c0392b;
$silver: #bdc3c7;
$asbestos: #7f8c8d;
$radical: #f62459;

// -- Pantone Colors
$primrose-yellow: #f6d258;
$pale-dogwood: #efcec5;
$hazelwood: #d1af94;
$island-paradise: #97d5e0;
$greenery: #88b14b;
$flame: #ef562d;
$pink-yarrow: #d13076;
$niagra: #5587a2;
$kale: #5c7148;
$lapis-blue: #0c4c8a;
$riverside: #4c6a92;
$airy-blue: #92b6d5;
$shark-skin: #838487;
$aurora-red: #b93a32;
$warm-taupe: #af9483;
$dusty-cedar: #ad5d5d;
$lush-meadow: #006e51;
$spicy-mustard: #d8ae47;
$potters-clay: #9e4624;
$bodacious: #b76ba3;
$rose-quartz: #f7cac9;
$peach-echo: #f7786b;
$serenity: #91a8d0;
$snorkel-blue: #034f84;
$buttercup: #fae03c;
$limpet-shell: #98ddde;
$lilac-gray: #9896a4;
$fiesta: #dd4132;
$iced-coffee: #b18f6a;
$green-flash: #79c753;
$dried-herb: #847a59;
$desert-sage: #a7ae9e;
$stormy-weather: #58646d;
$oak-buff: #cf9c63;
$marsala: #964f4c;
$biscay-bay: #097988;
$reflecting-pond: #203e4a;
$cadmium-orange: #f99471;
$cashmere-rose: #ce879f;
$amethyst-orchid: #926aa6;
$aquamarine: #9dc3d4;
$scuba-blue: #00abc0;
$beveled-glass: #7accb8;
$classic-blue: #0f4c81;
$toasted-almond: #d2b49c;
$strawberry-ice: #e78b90;
$tangerine: #f88f58;
$custard: #e5d68e;
$marsala: #964f4c;
$glacier-gray: #c5c6c7;
$radiant-orchid: #8b4584;
$royal-blue: #1e3176;
$aluminum: #75796a;
$aurora-red: #a90118;
$misted-yellow: #d9b74b;
$sangria: #760030;
$mauve-mist: #af8ea9;
$cognac: #60413c;
$bright-cobalt: #014983;
$cypress: #363b25;
$dazzling-blue: #1464ab;
$violet-tulip: #9096c8;
$freesia: #fcd800;
$paloma: #a7b0ad;
$placid-blue: #82b8dc;
$celosa-orange: #f38047;
$hemlock: #9cccb2;
$radiant-orchid: #ac70ae;
$cayenne: #e0655d;
$sand: #cfb38c;

// -- Third party colors
$facebook: #3b5998;
$flickr: #fe0883;
$foursquare: #8fd400;
$google: #c63d2d;
$instagram: #4e433c;
$linkedin: #4875b4;
$tumblr: #2b4964;
$twitter: #33ccff;
$vimeo: #86b32d;
$youtube: #ff3333;
