/*
* Dimensions
* These are quick dimensions to rapidly create quick layouts
*/

@for $i from 0 through 20 {
  $dimension: 100 / $i;

  .w-#{$dimension},
  .width-#{$dimension} {
    width: $dimension + %;
  }
  .h-#{$dimension},
  .height-#{$dimension} {
    height: $dimension + %;
  }
}
