/*
* Flex scaffolding
* These are quick flex rules for crafting layouts on the fly
*/

.flex {
  display: flex;

  // Direction
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }

  // Wrap
  &.wrap {
    flex-wrap: wrap;
  }
  &.no-wrap,
  &.nowrap {
    flex-wrap: no-wrap;
  }

  // justifications
  // -- Positions
  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-center {
    justify-content: flex-center;
  }
  &.justify-end {
    justify-content: flex-end;
  }

  // -- Spacings
  &.justify-between,
  &.justify-space {
    justify-content: space-between;
  }
  &.justify-around {
    justify-content: space-around;
  }

  // Alignments
  &.align-start {
    align-items: flex-start;
  }
  &.align-center {
    align-items: center;
  }
  &.align-end {
    align-items: flex-end;
  }
  &.align-baseline {
    align-items: baseline;
  }

  // General rules
  &.center {
    align-items: center;
    justify-content: center;
  }
}

// Resizing rules
.no-grow {
  flex-grow: 0;
}
.no-shrink {
  flex-shrink: 0;
}

// Flex-sizings
@for $i from 2 through 10 {
  .x-#{$i},
  .row-#{$i},
  .y-#{$i},
  .column-#{$i} {
    display: flex;
    > * {
      width: #{100 / $i + %};
    }
  }
  .y-#{$i},
  .column-#{$i} {
    flex-direction: column;
    > * {
      height: #{100 / $i + %};
    }
  }
}
