/*
* Legacy rulesets
* These are legacy rulesets, if you are using these, then something has gone very wrong indeed
*/

// -- Floats
.float-left {
  float: left;
}

.float-right {
  float: right;
}
// -- Clears
.clear {
  clear: both;
}

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

// Legacy mixins
// -- Legacy clear floats
@mixin clear() {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

// -- Legacy opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacityIE: $opacity * 100;

  filter: alpha(opacity=$opacityIE);
}
