/* Mobile adaptive content */
> .content,
> main {
  > *:not(.content-flow):not(.reading-flow) {
    width: $mobile-flow;
    margin-left: auto;
    margin-right: auto;
  }

  @if ($bottomSpacing) {
    padding-bottom: $mobile-golden;
  }
}
