// Quick bindings
// -- Bind all textual inputs
$text-inputs: "input[type='text'], input[type='email'], input[type='password'], input[type='date'], input[type='url'], input[type='tel'], input[type='number'], input[type='search'], input[type='time'], input[type='week'], input[type='datetime-local]";

#{$text-inputs} {
  width: 100%;
  background: #fff;
  border: none;
  resize: none;

  // States
  &.error {
    border: $borderWidth $borderStyle $error;
  }

  &.success,
  &.match,
  &.confirmation {
    border: $borderWidth $borderStyle $success;
  }
}
