/*
* Body 
* Control the styling of the body element
*/

// Body settings
// -- Hide scrollbars?
$hide-scroll: false;

// Body
body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
  background: $background;
  min-height: 100vh;
}

// Scrollbars?
html,
body {
  @if ($hide-scroll) {
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb:hover,
    &::-webkit-scrollbar-thumb:window-inactive,
    *::-webkit-scrollbar,
    *::-webkit-scrollbar-track,
    *::-webkit-scrollbar-thumb,
    *::-webkit-scrollbar-thumb:hover,
    *::-webkit-scrollbar-thumb:window-inactive {
      visibility: hidden;
      width: 0;
      display: none;
    }
  }
}
